* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body{
    width: 80%;
    margin: auto;
}

a{
    color: darkgreen;
    font-size: x-large
}

div{
    color: darkgreen;

}

nav {
    border: 50px solid white;
    background-color: #FCFCFC;
    margin-bottom: 5px;
    padding: 10px;
    color: darkgreen;
    font-size: large;
    border-width: 10px;
    
}


article {
 border: 50px;
 background-color: #37515F;
 margin-bottom: 10px;
 font-size: x-large;
 color: rgb(250, 248, 248);
 text-align: center;
 padding: 10px;

}

h2{
font-size: xx-large;

}

h3{
    color: darkgreen;
    text-overflow: none ;
    column-gap: normal;
    columns: 1;
    text-align: center;
    font-size: large;
    border: 0px solid #0d0f0f;
    background-color: darkgray;
    padding: 10px;
    margin: 0px;

}


nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0px;

}


footer{

    background-color: #FCFCFC;
    color: darkgreen;
    font-size: large;
    text-align: center;
    padding: 10px;
    border: 50px solid white;
    margin-top: 5px;
    border-width: 10px;
}





