* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    width: 80%;
    margin: auto;
}

header {
    color: #ebff33;
    border: 5px solid #010407;
    background-color: #552a5e;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

nav {
    color: rgb(240, 6, 6);
    border: 5px solid #000000;
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
}






article {
    color: white;
    border: 5px solid yellow ;
    background-color: #552a5e;
    margin-bottom: 100px;
    padding: 10px;
    columns: 1;
    text-align: center;
    
}

article img{
    max-width: 35%;
    text-wrap: wrap;
}

footer{
    border: 5px solid #5b4162;
    background-color: #C5F0F6;
    padding: 10px;
    text-align: center;
    
}